@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face{
        font-family: 'EudoxusSansBold';
        src: url('./asset/fonts/EudoxusSans-Bold.woff2') format('woff2'),
            url('./asset/fonts/EudoxusSans-Bold.woff') format('woff');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
    }
    @font-face{
        font-family: 'EudoxusSansMedium';
        src: url('./asset/fonts/EudoxusSans-Medium.woff2') format('woff2'),
        url('./asset/fonts/EudoxusSans-Medium.woff') format('woff');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
    }
    @font-face{
        font-family: 'EudoxusSansRegular';
        src: url('./asset/fonts/EudoxusSans-Regular.woff2').format('woff2'),
            url('./asset/fonts/EudoxusSans-Regular.woff').format('woff');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
}
body{
    font-size: 16px;
}
@media (max-width: 480px) {
    body{
        font-size: 12px;
    }
}